<?xml version="1.0" encoding="UTF-8" ?>
<Configuration debug="true" scan="true" scanPeriod="30seconds">

    <!--自定义变量-->
    <property name="CONSOL_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} - [Thread:%thread] - [%-5level] - [%class:%method:%line] - %msg %n"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} - [Thread:%thread] - [%-5level] - [%class:%method:%line] - %msg %n"/>
    <property name="CONSOLE_APPENDER_NAME" value="CONSOLE"/>
    <property name="LIFE_APPENDER_NAME" value="FILE"/>
    <property name="FILE_APPENDER_NAME" value="FILE"/>
    <property name="LOG_FILE_PATH" value="D:/Log/Test_Cluster_Slave_Log.log"/>
    <property name="ROOT_LEVEL" value="debug"/>

    <!--控制台日志输出配置-->
    <appender name="${CONSOLE_APPENDER_NAME}" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOL_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--日志文件输出日志配置-->
    <appender name="${LIFE_APPENDER_NAME}" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--Window上 不能使用该标签-->
        <!--<File>${LOG_FILE_PATH}</File>-->

        <!--按照大小以及日期的形式分隔日志文件-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--<FileNamePattern>${LOG_FILE_PATH}.%d{yyyy-MM-dd HH:mm:ss}.%i.log</FileNamePattern>-->
            <FileNamePattern>D:\Log\Test_Cluster_Slave_Log-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <MaxHistory>1</MaxHistory>
            <maxFileSize>1MB</maxFileSize>
            <totalSizeCap>2MB</totalSizeCap>
        </rollingPolicy>

        <!--以日期为基础 分隔日志文件 -->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            &lt;!&ndash;<FileNamePattern>${LOG_FILE_PATH}.%d{yyyy-MM-dd HH:mm:ss}.%i.log</FileNamePattern>&ndash;&gt;
            <FileNamePattern>D:\Log\Test_Cluster_Slave_Log-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <MaxHistory>1</MaxHistory>
        </rollingPolicy>-->

        <!--按照大小的方式 分隔日志文件-->
       <!-- <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1MB</maxFileSize>
        </triggeringPolicy>-->

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="${ROOT_LEVEL}">
        <appender-ref ref="${CONSOLE_APPENDER_NAME}"/>
        <appender-ref ref="${LIFE_APPENDER_NAME}"/>
    </root>
</Configuration>