<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <script type="text/html" src="../static/js/JSRSA.js"/>
    <script type="text/javascript" src="../static/js/BigInt.js"></script>
    <script type="text/javascript" src="../static/js/Barrett.js"></script>


    <script type="text/javascript">
function rsalogin(){
    var thisPwd = document.getElementById("password").value;
    bodyRSA();
    var result = encryptedString(key, encodeURIComponent(thisPwd));
    //alert(encodeURIComponent(thisPwd)+"\r\n"+result);
    loginForm.action="loginCHK.jsp?result="+result;
    loginForm.submit();
}
var key ;
function bodyRSA(){
    setMaxDigits(130);
    key = new RSAKeyPair("10001","","MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCp14IyhXlHjzKy9qaAW9TgpmgCBsXWr+YCK74jvkH241eFWHPWQ52bpiOGevh9JVQhTkEuZhzPkRk9u7xhBNQKPfFjbv6DHexbPQ5m+VHEVwDCcgdoX4bwd+0UmuPGJIKWkMHbinQfr1syaob2EKuBAJKfwXFAluX5vKTNaiC0WQIDAQAB");
}
</script>
</head>
<body>
<form method="post" name="loginForm" target=_blank>
    <table border="0">
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type='text' name="password" id=password style='width:400px' value="my passwd"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="button" value="SUBMIT" onclick="rsalogin();" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>