<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.eureka.web.client.dao.MemberMapper">
    
    <resultMap id="member" type="com.test.eureka.client.test.dto.Member">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sexEnum" column="sex" typeHandler="com.test.eureka.client.test.util.AutoEnumChange"/>
        <result property="deleteFlag" column="delete_flag" typeHandler="com.test.eureka.client.test.util.AutoEnumChange"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_Time"/>
        <result property="updateBy" column="update_by"/>
        <result property="createBy" column="create_by"/>
    </resultMap>
    
    
    <select id="selectById" parameterType="java.lang.String" resultMap="member">
      SELECT *
      FROM user u
      where id = #{id}
    </select>

    <select id="selectAll"  resultMap="member">
      SELECT
        id,name
        ,age
        ,sex
        ,address
        ,create_time AS createTime
        ,update_time AS updateTime
        ,create_by AS  createBy
        ,update_by AS updateBy
        ,delete_flag AS deleteFlag
      FROM user
    </select>

    <update id="update" parameterType="com.test.eureka.client.test.dto.MemberInDTO">
        UPDATE user
        <set>
            <if test="member.name != null and member.name != ''">
                name = #{member.name},
            </if>
            <if test="member.age != null and member.age != ''">
                age = #{member.age},
            </if>
            <if test="member.sex != null and member.sex != ''">
                sex = #{member.sex},
            </if>
            <if test="member.address != null and member.address != ''">
                address = #{member.address},
            </if>
        </set>
        <where>
            <if test="member.id != null and member.id != ''">
                id = #{member.id}
            </if>
        </where>
    </update>
    
    <insert id="addMember" parameterType="com.test.eureka.client.test.dto.MemberInDTO">
        <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE">
            SELECT REPLACE(UUID(),'-','')
        </selectKey>
        INSERT INTO user (id,name,age,sex,address,create_time,update_time)
        VALUES (#{id},#{member.name},#{member.age},#{member.sex},#{member.address},#{member.createTime},#{member.updateTime})
    </insert>

    <delete id="deleteById" parameterType="java.lang.String">
      UPDATE user SET delete_falge = 1
    </delete>
</mapper>